<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>



<br>

<span>方式二：上传压缩包并解压</span>
<form action="/upload/zip" method="post" enctype="multipart/form-data">
    上传<span style="color: red">(zip)</span>压缩包*:<input type="file" name="zipFile"/>
    <span>
        <img class="edi-icon j-help-tips"
             data-tips='{
             "type":"1",
             "txt":"aaa<br>aaa"
             }'
             src="img/wenhao.png"
             alt=""
             style="height: 23px">
    </span>
    <br>
    解压路径(非必须):<input type="text" name="destPath"/><br>
    <!-- 密码(非必须):<input type="text" name="password"/><br> -->
    <input type="submit" value="开始解析"/>
</form>

</body>


<!-- jquery -->
<script src="js/jquery-latest.js"></script>
<!-- layer -->
<script src="js/layer/layer.js" type="text/javascript"></script>
<!-- 提示插件 -->
<script src="js/script.js" type="text/javascript"></script>

<script>
    $(function () {
        <!-- 页面初始化加载 -->
        var tips = new helpTips().init();
    })
</script>
</html>