<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.base.dao.OracleStudentMapper">
    <resultMap id="BaseResultMap" type="com.oracle.base.entity.Student">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="NAME2" jdbcType="VARCHAR" property="name2"/>
        <result column="AGE" jdbcType="DECIMAL" property="age"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, NAME, NAME2, AGE
    </sql>

    <select id="getMaxId" resultType="long">
        SELECT MAX(id)
        FROM STUDENT
    </select>

    <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        STUDENT
        WHERE
        ID = #{id,jdbcType=NUMERIC}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        STUDENT
        ORDER BY ID
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM STUDENT
        WHERE NAME = #{updated.name,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.oracle.base.entity.Student">
        INSERT INTO STUDENT(ID,
                            NAME,
                            AGE)
        VALUES (#{id,jdbcType=NUMERIC},
                #{name,jdbcType=VARCHAR},
                #{age,jdbcType=DECIMAL})
    </insert>

    <insert id="insertListBatch">
        insert into STUDENT(
        ID,
        NAME,
        AGE
        )
        <foreach collection="studentList" item="item" index="index" separator="union all">
            (
            select
            #{item.id},
            #{item.name,jdbcType=VARCHAR},
            #{item.age,jdbcType=DECIMAL}
            from dual
            )
        </foreach>
    </insert>

    <insert id="insertListBeginEnd">
        <foreach collection="studentList" item="item" index="index" open="begin" close=";end;" separator=";">
            insert into STUDENT(
            ID,
            NAME,
            AGE
            )values(
            #{item.id},
            #{item.name},
            #{item.age}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.oracle.base.entity.Student">
        update STUDENT
        set NAME='update',
            AGE='18'
        where ID = #{id}
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-04-26-->
    <update id="updateByName">
        update STUDENT
        <set>
            <if test="updated.id != null">
                ID = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.name2 != null">
                NAME2 = #{updated.name2,jdbcType=VARCHAR},
            </if>
            <if test="updated.age != null">
                AGE = #{updated.age,jdbcType=DECIMAL},
            </if>
        </set>
        where NAME=#{name,jdbcType=VARCHAR}
    </update>

    <update id="updateById">
        update STUDENT
        <set>
            <if test="updated.id != null">
                ID = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.name2 != null">
                NAME2 = #{updated.name2,jdbcType=VARCHAR},
            </if>
            <if test="updated.age != null">
                AGE = #{updated.age,jdbcType=DECIMAL},
            </if>
        </set>
        where ID=#{id,jdbcType=INTEGER}
    </update>


    <update id="updateListByIdBeginEnd">
        <foreach collection="studentList" item="item" index="index" open="begin" close=";end;" separator=";">
            update STUDENT
            <set>
                <if test="item.name != null">
                    NAME = #{item.name,jdbcType=VARCHAR},
                </if>
                <if test="item.name2 != null">
                    NAME2 = #{item.name2,jdbcType=VARCHAR},
                </if>
                <if test="item.age != null">
                    AGE = #{item.age,jdbcType=DECIMAL},
                </if>
            </set>
            where ID=#{item.id,jdbcType=VARCHAR}
        </foreach>
    </update>

    <update id="updateListByIdBatch">
        update STUDENT
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="AGE =case" suffix="end,">
                <foreach collection="studentList" item="item" index="index">
                    <if test="item.age != null">
                        when ID=#{item.id} then #{item.age,jdbcType=DECIMAL}
                    </if>
                </foreach>
            </trim>
            <trim prefix="NAME =case" suffix="end">
                <foreach collection="studentList" item="item" index="index">
                    <if test="item.name != null">
                        when ID=#{item.id,jdbcType=DECIMAL} then #{item.name,jdbcType=VARCHAR}
                    </if>
                </foreach>
            </trim>
        </trim>
        where ID in
        <foreach collection="studentList" item="item" index="index" separator="," open="(" close=")">
            #{item.id,jdbcType=DECIMAL}
        </foreach>
    </update>

    <!--auto generated by MybatisCodeHelper on 2020-04-07-->
    <select id="findByAgeAndIdBetweenOrEqualToAndName2" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from STUDENT
        where AGE=#{age,jdbcType=DECIMAL} and ID <![CDATA[>=]]> #{minId,jdbcType=INTEGER} and ID <![CDATA[<=]]>
        #{maxId,jdbcType=INTEGER} and NAME2=#{name2,jdbcType=VARCHAR}
    </select>


</mapper>