<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shiro2.dao.ExamRoleMapper">
    <resultMap id="BaseResultMap" type="shiro2.pojo.entity.ExamRole">
        <!--@mbg.generated-->
        <!--@Table exam_role-->
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="is_enable" jdbcType="INTEGER" property="isEnable"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        Id,
        role_name,
        is_enable,
        created_at,
        updated_at
    </sql>
    <insert id="insert" parameterType="shiro2.pojo.entity.ExamRole">
        <!--@mbg.generated-->
        insert into exam_role (Id, role_name, is_enable,
                               created_at, updated_at)
        values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{isEnable,jdbcType=BOOLEAN},
                #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
    </insert>

    <select id="selectRoleByUserId" resultType="shiro2.pojo.entity.ExamRole">
        SELECT t1.*
        FROM exam_role t1
                 LEFT JOIN exam_user_role t2 ON t1.id = t2.role_id
        WHERE user_id = #{userId}
    </select>
</mapper>