<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sec.dao.GoodsMapper">
    <resultMap id="BaseResultMap" type="com.sec.pojo.entity.Goods">
        <!--@Table sk_goods-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle"/>
        <result column="goods_img" jdbcType="VARCHAR" property="goodsImg"/>
        <result column="goods_detail" jdbcType="LONGVARCHAR" property="goodsDetail"/>
        <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice"/>
        <result column="goods_stock" jdbcType="INTEGER" property="goodsStock"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, goods_name, goods_title, goods_img, goods_detail, goods_price, goods_stock
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sk_goods
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sec.pojo.entity.Goods"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into sk_goods (goods_name, goods_title, goods_img,
        goods_detail, goods_price, goods_stock
        )
        values (#{goodsName,jdbcType=VARCHAR}, #{goodsTitle,jdbcType=VARCHAR}, #{goodsImg,jdbcType=VARCHAR},
        #{goodsDetail,jdbcType=LONGVARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, #{goodsStock,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sec.pojo.entity.Goods"
            useGeneratedKeys="true">
        insert into sk_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsName != null and goodsName != ''">
                goods_name,
            </if>
            <if test="goodsTitle != null and goodsTitle != ''">
                goods_title,
            </if>
            <if test="goodsImg != null and goodsImg != ''">
                goods_img,
            </if>
            <if test="goodsDetail != null and goodsDetail != ''">
                goods_detail,
            </if>
            <if test="goodsPrice != null">
                goods_price,
            </if>
            <if test="goodsStock != null">
                goods_stock,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsName != null and goodsName != ''">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsTitle != null and goodsTitle != ''">
                #{goodsTitle,jdbcType=VARCHAR},
            </if>
            <if test="goodsImg != null and goodsImg != ''">
                #{goodsImg,jdbcType=VARCHAR},
            </if>
            <if test="goodsDetail != null and goodsDetail != ''">
                #{goodsDetail,jdbcType=LONGVARCHAR},
            </if>
            <if test="goodsPrice != null">
                #{goodsPrice,jdbcType=DECIMAL},
            </if>
            <if test="goodsStock != null">
                #{goodsStock,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.sec.pojo.entity.Goods">
        <!--@mbg.generated-->
        update sk_goods
        set goods_name = #{goodsName,jdbcType=VARCHAR},
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
        goods_img = #{goodsImg,jdbcType=VARCHAR},
        goods_detail = #{goodsDetail,jdbcType=LONGVARCHAR},
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
        goods_stock = #{goodsStock,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>