<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sec.dao.GoodsSeckillMapper">
    <resultMap id="BaseResultMap" type="com.sec.pojo.entity.GoodsSeckill">
        <!--@Table sk_goods_seckill-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice"/>
        <result column="stock_count" jdbcType="INTEGER" property="stockCount"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <resultMap id="GoodsSeckillDetailMap" type="com.sec.pojo.dto.GoodsSeckillDetail">
        <!-- sk_goods -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="goods_id" jdbcType="BIGINT" property="goodsId"/>
        <result column="seckill_price" jdbcType="DECIMAL" property="seckillPrice"/>
        <result column="stock_count" jdbcType="INTEGER" property="stockCount"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <!-- goods -->
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle"/>
        <result column="goods_img" jdbcType="VARCHAR" property="goodsImg"/>
        <result column="goods_detail" jdbcType="LONGVARCHAR" property="goodsDetail"/>
        <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice"/>
        <result column="goods_stock" jdbcType="INTEGER" property="goodsStock"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, goods_id, seckill_price, stock_count, start_date, end_date, version
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sk_goods_seckill
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.sec.pojo.entity.GoodsSeckill"
            useGeneratedKeys="true">
        insert into sk_goods_seckill (goods_id, seckill_price, stock_count,
                                      start_date, end_date, version)
        values (#{goodsId,jdbcType=BIGINT}, #{seckillPrice,jdbcType=DECIMAL}, #{stockCount,jdbcType=INTEGER},
                #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.sec.pojo.entity.GoodsSeckill"
            useGeneratedKeys="true">
        insert into sk_goods_seckill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="seckillPrice != null">
                seckill_price,
            </if>
            <if test="stockCount != null">
                stock_count,
            </if>
            <if test="startDate != null">
                start_date,
            </if>
            <if test="endDate != null">
                end_date,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
                #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="seckillPrice != null">
                #{seckillPrice,jdbcType=DECIMAL},
            </if>
            <if test="stockCount != null">
                #{stockCount,jdbcType=INTEGER},
            </if>
            <if test="startDate != null">
                #{startDate,jdbcType=TIMESTAMP},
            </if>
            <if test="endDate != null">
                #{endDate,jdbcType=TIMESTAMP},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.sec.pojo.entity.GoodsSeckill">
        <!--@mbg.generated-->
        update sk_goods_seckill
        set goods_id = #{goodsId,jdbcType=BIGINT},
        seckill_price = #{seckillPrice,jdbcType=DECIMAL},
        stock_count = #{stockCount,jdbcType=INTEGER},
        start_date = #{startDate,jdbcType=TIMESTAMP},
        end_date = #{endDate,jdbcType=TIMESTAMP},
        version = #{version,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAll" resultType="com.sec.pojo.entity.GoodsSeckill" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sk_goods_seckill
    </select>


    <select id="selectAllGoodsSeckillDetail" resultType="com.sec.pojo.dto.GoodsSeckillDetail"
            resultMap="GoodsSeckillDetailMap">
        select t1.id,
               t1.goods_id,
               t1.seckill_price,
               t1.stock_count,
               t1.start_date,
               t1.end_date,
               t1.version,
               t2.goods_name,
               t2.goods_title,
               t2.goods_img,
               t2.goods_detail,
               t2.goods_price,
               t2.goods_stock
        from sk_goods_seckill t1
                 left join sk_goods t2 on t1.goods_id = t2.id
    </select>

    <update id="reduceStockById" parameterType="com.sec.pojo.entity.GoodsSeckill">
        update sk_goods_seckill
        set stock_count = stock_count - 1
        where id = #{id}
        and stock_count > 0
    </update>


</mapper>